/* палитра

основной цвет текста #555555
дополнительный цвет текста #303030
дополнительный цвет теста #FFFFFF
дополнительный цвет теста #FF6C00
дополнительный цвет теста #9DA4BD
дополнительный цвет теста rgba(157, 164, 189, 0.6);

цвет фона #F7F7F7 */

:root{
    --primary-text-color: #555555;
    --primary-title-color: #303030;
    --sec-title-color: #9DA4BD;
    --white-color: #FFFFFF;
    --accent-color: #FF6C00;
    --transparent-sec-title-color:rgba(157, 164, 189, 0.6);
    --bcg-color: #F7F7F7;
}

body{
    color: var(--primary-text-color);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

/* убирает точки в списках */
.list {
    list-style: none;
}

/* Общий стиль для пред-заголовков */
.sub-title{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
}

/* общий стиль заголовков h2 */
.title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    font-style: normal;
}

/* header */
.nav-list .link,
.nav-phone{
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-phone:hover,
.nav-phone:focus{
    color: var(--accent-color);
}

/* кнопка в хедере */
.button{
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    cursor: pointer;
    text-transform: uppercase;

    width: 160px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 25px
}

.button:hover,
.button:focus{
    background-color: var(--accent-color);
}

/* Блок Герой */
.hero .link{
    color: var(--primary-title-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-decoration: none;
}

.hero .link:hover,
.hero .link:focus{
    color: var(--accent-color);
}

.hero .sub-title{
    color: var(--transparent-sec-title-color);
}

.hero-title{
    color: var(--white-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.hero .text{
    color: #9DA4BD;
}

/* Блок "О нас" */
.about .sub-title{
    color: #303030;
}

.about .title{
    color: var(--primary-title-color);
}
.about .text{
    font-size: 14px;
    line-height: 1.86;
}

.about .button{
    color: var(--primary-title-color);
}

.about .button:hover,
.about .button:focus{
    color: var(--white-color);
}

/* Блок Услуги и цены */
.prices .sub-title{
    color: var(--transparent-sec-title-color);
}
.prices .title{
    color: var(--white-color);
}

.prices .list p{
    color: var(--sec-title-color);
}

/* Блок преимущества-excellence */
.excellence .number{
    counter-reset: var(--primary-title-color);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
}

.excellence .sup{
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1.37;
}

.excellence .list .sub-title{
    color: var(--primary-title-color);
    text-transform: none;
}

.excellence .title{
    color: var(--primary-title-color);
}

/* Блок Наши мастера */
.masters{
    background-color: var(--bcg-color);
}

.masters .sub-title,
.masters .title{
    color: var(--primary-title-color);
}

.name{
    color: var(--primary-title-color);
    line-height: 1.39;
    text-align: center;
}

.position{
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
}

/* Блок с примерами работы */
.photos .sub-title{
    color: var(--primary-title-color);
}

/* footer  */
.footer .title{
    color: var(--white-color);
}

.address{
    color: var(--sec-title-color);
    font-style: normal;
}

.tel, .mail{
    color: var(--sec-title-color);
    text-decoration: none;
}

.footer .sub-title{
    color: var(--white-color);
}

.footer .text{
    color: var(--sec-title-color);
}

.copyright .sub-title{
    color: var(--sec-title-color);
    letter-spacing: 0.2em;
    text-transform: none;
}

.copyright .link{
    color: var(--primary-title-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-decoration: none;
}