/* палитра

основной цвет текста #555555
дополнительный цвет текста #303030
дополнительный цвет теста #FFFFFF
дополнительный цвет теста #FF6C00
дополнительный цвет теста #9DA4BD
дополнительный цвет теста rgba(157, 164, 189, 0.6);

цвет фона #F7F7F7 */

:root {
  --primary-text-color: #555555;
  --primary-title-color: #303030;
  --sec-title-color: #9da4bd;
  --white-color: #ffffff;
  --accent-color: #ff6c00;
  --transparent-sec-title-color: rgba(157, 164, 189, 0.6);
  --bcg-color: #f7f7f7;
}

body {
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* сброс стилей */
h1,
h2,
h3,
p,
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* убирает 4px у картинок */
img {
  display: block;
}

/* убирает точки в списках */
.list {
  list-style: none;
}

/* Общий стиль для пред-заголовков */
.sub-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sub-title::before {
  content: '';
  height: 1px;
  width: 60px;
  background: currentColor;
  margin-right: 20px;
}

/* общий стиль заголовков h2 */
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  font-style: normal;
}

/* header */
.header .container {
  background-color: #555555;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  margin-left: 8px;
}

.nav-list {
  display: flex;
  margin-left: 70px;
}

.nav-list .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list .item + .item {
  margin-left: 40px;
}

.nav-phone {
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;

  display: block;
}

.header .button {
  margin-left: 40px;
}

.nav-list .link,
.nav-phone {
  color: var(--white-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-phone:hover,
.nav-phone:focus {
  color: var(--accent-color);
}

/* кнопка в хедере */
.button {
  color: var(--white-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  cursor: pointer;
  text-transform: uppercase;

  min-width: 160px;
  height: 40px;

  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 25px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* Блок Герой */
.hero .container {
  display: flex;
}

.hero .list {
  display: flex;
}

.hero-social {
  display: flex;
  align-items: center;
  width: 98px;
}

.hero-social::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 60px;
  background: var(--primary-title-color);
  margin-right: 40px;
}

.hero-social .item + .item {
  margin-left: 40px;
}

.hero-text {
  padding: 272px 0 206px 96px;

  background-image: radial-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../images/hero.jpg');
  background-position: center;
  background-size: cover;

  flex-grow: 1;
}

.hero .link {
  color: var(--primary-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-decoration: none;
}

.hero .link:hover,
.hero .link:focus {
  color: var(--accent-color);
}

.hero .sub-title {
  color: var(--transparent-sec-title-color);

  margin-bottom: 20px;
}

.hero-title {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  margin-bottom: 20px;
}

.hero .text {
  color: #9da4bd;
  max-width: 400px;
}

/* Блок "О нас" */
.about .container {
  display: flex;
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-photo {
  display: flex;
}
.about-photo .item + .item {
  margin-left: 30px;
}

.about-text {
  margin-left: 64px;
}
.about .sub-title {
  color: var(--primary-title-color);

  margin-bottom: 20px;
}

.about .title {
  color: var(--primary-title-color);

  margin-bottom: 20px;
}

.about .title-text {
  margin-bottom: 20px;
}
.about .text {
  font-size: 14px;
  line-height: 1.86;

  margin-bottom: 40px;
}

.about .button {
  color: var(--primary-title-color);
}

.about .button:hover,
.about .button:focus {
  color: var(--white-color);
}

/* Блок Услуги и цены */
.prices {
  border-color: #090b13;
  background-image: url('../images/prices-bg.png'), linear-gradient(#111319, #111319);
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
  max-width: 1280px;
  margin: 0 auto;
}

.prices .sub-title {
  color: var(--transparent-sec-title-color);

  margin-bottom: 20px;
}

.prices .title {
  color: var(--white-color);

  margin-bottom: 44px;
}

.prices-lists {
  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;
}

.price {
  padding: 30px 40px;
  flex-grow: 1;

  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-lists .item {
  display: flex;
  justify-content: space-between;
}

.prices-lists .item + .item {
  margin-top: 20px;
}
.prices-lists .text-item {
  color: var(--sec-title-color);
}

.prices .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Блок преимущества-excellence */
.excellence {
  padding-top: 114px;
  padding-bottom: 137px;
}
.excellence .container {
  display: flex;
}

.excellence-list {
  display: flex;
  flex-wrap: wrap;

  width: 50%;
  padding-left: 100px;
}

.excellence-list .item {
  display: block;
  width: 170px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;

  background-color: #f7f7f7;
}

.excellence-list .item + .item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.excellence-list .number {
  display: flex;
  justify-content: center;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  margin-bottom: 6px;
}
.excellence-list .number::after {
  content: '+';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: var(--accent-color);
}

.excellence-list .sub-title {
  letter-spacing: normal;
  text-transform: none;
}
.excellence-list .sub-title::before {
  content: none;
}

.excellence-text {
  max-width: 500px;
}

.excellence-text .sub-title {
  color: var(--primary-title-color);

  margin-bottom: 20px;
}

.excellence-text .title {
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

/* Блок Наши мастера */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--bcg-color);
  max-width: 1280px;
  margin: 0 auto;
}

.masters .sub-title {
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.masters .title {
  color: var(--primary-title-color);
  margin-bottom: 44px;
}

.masters .list {
  display: flex;
}

.masters .list .item + .item {
  margin-left: 30px;
}
.master-photo {
  margin-bottom: 30px;
}
.name {
  color: var(--primary-title-color);
  line-height: 1.39;
  text-align: center;

  margin-bottom: 8px;
}

.position {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.36;
  text-align: center;

  margin-bottom: 30px;
}

.soc-list {
  justify-content: center;
}

.soc-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  fill: var(--primary-title-color);
}

.soc-list .link:hover {
  fill: var(--accent-color);
}

/* Блок с примерами работы */
.photos {
  padding-top: 130px;
  padding-bottom: 130px;
}
.photos .sub-title {
  color: var(--primary-title-color);
  margin-bottom: 44px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.photos .list {
  display: flex;
}

.photos .item + .item {
  margin-left: 30px;
}

/* form-contact */
.form-contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  max-width: 1280px;
  margin: 0 auto;

  background-image: url(../images/contacts-bg.png), linear-gradient(#191c26, #191c26);
  background-position: right, center;
  background-repeat: no-repeat;
  background-size: calc(50% - 15px), auto;
}

.form-contacts .container {
  display: flex;
}

/* form  */
.form {
  flex-grow: 1;
}

.form .title {
  color: var(--white-color);
}

/* contacts */
.contacts {
  width: calc(50% - 15px);

  padding-left: 100px;
}

.address {
  color: var(--sec-title-color);
  font-style: normal;
  margin-bottom: 70px;
}

.contacts .item {
  display: flex;
  align-items: center;
}
.contacts .item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts .tel,
.mail {
  color: var(--sec-title-color);
  text-decoration: none;
}
.contacts .icon {
  fill: currentColor;
  margin-right: 16px;
}
.contacts .title {
  color: var(--white-color);
  margin-bottom: 40px;
}

.contacts .sub-title {
  color: var(--white-color);
  letter-spacing: 0.2em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.contacts .text {
  color: var(--sec-title-color);
}

/* footer */
.footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer .list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer .list::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 60px;
  background: var(--primary-title-color);
  margin-right: 40px;
}

.footer .copy-title {
  color: var(--sec-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.footer .item + .item {
  margin-left: 40px;
}

.footer .link {
  color: var(--primary-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-decoration: none;
}
